.gift {
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__image {
    position: relative;
    z-index: 1;
    border-radius: 50px;
  }

  &__boarded-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border-color: #FCCEE8;
    background: linear-gradient(242deg, #FFF 26.97%, rgba(253, 242, 248, 0.50) 80.79%);
    box-shadow: 0 25px 50px -12px #FFF5F9;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 500px;
    background: linear-gradient(90deg, #FFE4E6 0%, #FCE7F3 100%);
    
    &--text {
      background: linear-gradient(90deg, #EC003F 0%, #E60076 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}