.how-it-works {
  overflow: hidden;
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__label {
    padding: 6px 24px;
    border-radius: 500px;
    background: linear-gradient(90deg, #E0E7FF 0%, #F3E8FF 100%);
    
    &--text {
      background: linear-gradient(90deg, #4F39F6 0%, #9810FA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__title {
    color: var(--black);
    letter-spacing: -0.88px;
  }

  &__steps {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 40px;
      left: -40px;
      width: calc(100% + 80px);
      height: 2px;
      background: #D9D9D9;
      z-index: -1;
    }
  }
}

.step {
  width: 322px;
  max-width: 322px;

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &--first {
      background: linear-gradient(124deg, #615FFF -115.57%, #AD46FF 100%);
    }

    &--second {
      background: linear-gradient(135deg, #AD46FF 0%, #F6339A 100%);
    }

    &--third {
      background: linear-gradient(135deg, #F6339A 0%, #FF2056 100%);
    }
  }

  &__title {

    &--first {
      background: linear-gradient(90deg, #432DD7 0%, #8200DB 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--second {
      background: linear-gradient(90deg, #8200DB 0%, #C6005C 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--third {
      background: linear-gradient(90deg, #C6005C 0%, #C70036 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    margin-top: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.48px;
    color: var(--dark-blue);
  }
}