.important {

  &__container {
    position: relative;
    max-width: 1128px;
    margin: 0 auto 0 auto;
    padding: 120px 0 100px 0;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 24px;
    border-radius: 500px;
    background: #FFEDD3;
    
    &--text {
      background: linear-gradient(90deg, #EC003F 0%, #E60076 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__title {
    color: #E2E8F0;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.8px;
  }

  &__description {
    text-align: center;
    color: #C6D2FF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.36px;
  }

  &__colored-section {
    padding: 60px 150px 72px 150px;
    border-radius: 24px;
    background: linear-gradient(135deg, #0F172B 0%, #312C85 50%, #0F172B 100%);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 40px 0 100px 0;
  }
}

.important-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
  padding: 32px;
  background: var(--white);
  border-radius: 24px;
  border: 2px solid #FEE685;
  transition: all 0.3s ease;

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background: linear-gradient(135deg, #FE9A00 0%, #FF6900 100%);
  }

  &__image {
    width: 32px;
    height: 32px;
  }

  &__title {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -1.2px;
    background: linear-gradient(90deg, #E17100 0%, #F54900 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    margin-top: 4px;
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  &__decoration {
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: auto;
    margin-bottom: 24px;
    background: #F1F5F9;

    &:before {
      content: '';
      position: absolute;
      width: 48px;
      height: 4px;
      border-radius: 4px;
      top: 16px;
      left: 0;
    }
  }
}