.reviews {
  
  &__container {
    max-width: 1280px;
    margin: 60px auto 80px auto;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 24px;
    border-radius: 500px;
    background: linear-gradient(90deg, #E0E7FF 0%, #F3E8FF 100%);
    
    &--text {
      background: linear-gradient(90deg, #4F39F6 0%, #9810FA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.review {
  height: 438px;
  max-width: 405px;
  padding: 32px;
  border-radius: 14px;
  border: 2px solid #E0E7FF;

  &__text {
    color: var(--dark-blue);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.312px;
  }

  &__author {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.312px;
  }
}