.reviews {
  overflow: hidden;

  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 24px;
    border-radius: 500px;
    background: linear-gradient(90deg, #E0E7FF 0%, #F3E8FF 100%);
    
    &--text {
      background: linear-gradient(90deg, #4F39F6 0%, #9810FA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__cards {
    overflow: scroll;
    width: 100vw;
    padding-left: calc(((100vw - 1200px) - 120px) / 2);
    padding-right: calc(((100vw - 1200px) - 120px) / 2);

    @media screen and (max-width: 1280px) and (min-width: 768px) {
      align-self: flex-start;
    }

    @media screen and (max-width: 1280px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.review {
  border-radius: 14px;
  border: 2px solid #E0E7FF;

  &__text {
    color: var(--dark-blue);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.312px;
  }

  &__author {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.312px;
  }
}