.trust {
  overflow: hidden;
  
  &__container {
    position: relative;
    max-width: 780px;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 24px;
    border-radius: 500px;
    background: #FCE7F2;
    
    &--text {
      background: linear-gradient(90deg, #EC003F 0%, #E60076 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__title {
    margin-top: 24px;
    color: var(--black);
    letter-spacing: -0.88px;
  }

  &__description {
    text-align: center;
    color: var(--dark-blue);
    font-weight: 400;
    letter-spacing: -0.41px;
  }

  &__boarded-section {
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #FFCCD3;
    background: linear-gradient(90deg, #FFF1F2 0%, #FDF2F8 100%);
    color: var(--dark-blue);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
  }

  &__logo-slider {
    position: relative;
  }
}


.logo-slider {
  width: 100vw;
  overflow: hidden;

  &__track {
    display: flex;
    align-items: center;
    animation: scroll 50s linear infinite;
  }

  img {
    width: auto;
    flex-shrink: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}