.unique {
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    max-width: 1200px;
    margin: 120px auto 80px auto;
  }

  &__label {
    padding: 6px 24px;
    border-radius: 500px;
    background: linear-gradient(90deg, #E0E7FF 0%, #F3E8FF 100%);
    
    &--text {
      background: linear-gradient(90deg, #4F39F6 0%, #9810FA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__title {
    color: var(--black);
    font-size: 44px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.88px;
  }

  &__description {
    color: var(--dark-blue);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.36px;
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    overflow: scroll;
  }
}

.unique-step {
  height: 300px;
  width: 520px;
  min-width: 520px;
  padding: 24px 40px;
  gap: 10px;
  border-radius: 24px;
  border: 2px solid #DCE3FF;
  background: linear-gradient(108deg, #FFF 0%, rgba(238, 242, 255, 0.30) 16.77%, rgba(250, 245, 255, 0.30) 33.55%);

  &--first {
    .unique-step__image-container {
      background: linear-gradient(135deg, #615FFF 0%, #9810FA 100%);
    }

    .unique-step__decor {
      background: linear-gradient(90deg, #615FFF 0%, #AD46FF 100%);
    }
  }

  &--second {
    .unique-step__image-container,
    .unique-step__decor {
      background: linear-gradient(135deg, #AD46FF 0%, #F6339A 100%);
    }

    .unique-step__decor {
      margin-top: 24px;
    }
  }

  &--third {
    .unique-step__image-container,
    .unique-step__decor {
      background: linear-gradient(135deg, #2B7FFF 0%, #00B8DB 100%);
    }
  }

  &--fourth {
    .unique-step__image-container,
    .unique-step__decor {
      background: linear-gradient(135deg, #FE9A00 0%, #FF6900 100%);
    }
  }

  &--fifth {
    .unique-step__image-container,
    .unique-step__decor {
      background: linear-gradient(135deg, #00BC7D 0%, #00BBA7 100%);
    }
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: 16px;
  }

  &__image {
    width: 32px;
    height: 32px;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.66px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.48px;
    color: var(--dark-blue);
  }

  &__decor {
    width: 100%;
    height: 4px;
    margin-top: 32px;
    border-radius: 4px;
  }
}