.upper-footer {
  background-color: var(--upper-footer-bg);

  &__container {
    max-width: 775px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  &__title {
    color: var(--black);
    text-align: center;
    font-weight: 400;

    &--gradient {
      background: linear-gradient(180deg, var(--pink) 0%, var(--purple) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}