.what-you-get {
  background: var(--what-you-get-bg);
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    color: var(--black);
    letter-spacing: -0.88px;
  }

  &__description {
    color: var(--dark-blue);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.36px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: var(--white);
  border-radius: 40px;
  box-shadow: 0 40px 50px 0 rgba(127, 35, 177, 0.10);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(127, 35, 177, 0.30);
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 16px;

    &--first {
      background: linear-gradient(124deg, #615FFF -115.57%, #AD46FF 100%);
    }

    &--second {
      background: linear-gradient(135deg, #AD46FF 0%, #F6339A 100%);
    }

    &--third {
      background: linear-gradient(135deg, #F6339A 0%, #FF2056 100%);
    }

    &--fourth {
      background: linear-gradient(135deg, #2B7FFF 0%, #615FFF 100%);
    }
  }

  &__image {
    width: 32px;
    height: 32px;
  }

  &__title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.312px;

    &--first {
      background: linear-gradient(90deg, #432DD7 0%, #8200DB 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--second {
      background: linear-gradient(90deg, #8200DB 0%, #C6005C 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--third {
      background: linear-gradient(90deg, #C6005C 0%, #C70036 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--fourth {
      background: linear-gradient(90deg, #615FFF 0%, #AD46FF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.32px;
    color: var(--dark-blue);
  }

  &__decoration {
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: auto;
    margin-bottom: 24px;
    background: #F1F5F9;

    &:before {
      content: '';
      position: absolute;
      width: 48px;
      height: 4px;
      border-radius: 4px;
      top: 16px;
      left: 0;
    }

    &--first {

      &:before {
        background: linear-gradient(135deg, #615FFF 0%, #AD46FF 100%), linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
      }
    }

    &--second {
      &:before {
        background: linear-gradient(135deg, #AD46FF 0%, #F6339A 100%), linear-gradient(135deg, #615FFF 0%, #AD46FF 100%), linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
      }
    }

    &--third {
      &:before {
        background: linear-gradient(135deg, #8E51FF 0%, #E12AFB 100%);
      }
    }

    &--fourth {
      &:before {
        background: linear-gradient(135deg, #2B7FFF 0%, #615FFF 100%);
      }
    }
  }
}