.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 56px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 100px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
  }

  &--gradient-vertical {
    background: linear-gradient(180deg, #F9709A 0%, #AD46FF 100%);
    color: var(--white);
  }

  &--gradient-inclined {
    background: linear-gradient(112deg, rgba(173, 70, 255, 0.30) 14.71%, rgba(246, 51, 154, 0.30) 78.2%), #F9709A;
    color: var(--white);
  }
  
  &--light-gradient-inclined {
    background: linear-gradient(112deg, rgba(173, 70, 255, 0.30) 14.71%, rgba(246, 51, 154, 0.30) 78.2%), #F9709A;
    color: var(--white);
  }

  &--gradient-red {
    border-radius: 8px;
    background: linear-gradient(90deg, #E60076 0%, #EC003F 100%);
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.10);
    color: var(--white);
  }

  &--h-52 {
    height: 52px;
    border-radius: 50px;
  }
}