@font-face {
  font-family: 'Fixel Text';
  src: url('../assets/fonts/FixelText/FixelText-Regular.woff2') format('woff2'),
       url('../assets/fonts/FixelText/FixelText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel Text';
  src: url('../assets/fonts/FixelText/FixelText-Medium.woff2') format('woff2'),
       url('../assets/fonts/FixelText/FixelText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel Text';
  src: url('../assets/fonts/FixelText/FixelText-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/FixelText/FixelText-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel Text';
  src: url('../assets/fonts/FixelText/FixelText-Bold.woff2') format('woff2'),
       url('../assets/fonts/FixelText/FixelText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}