:root {
  --white: #ffffff;
  --black: #0A0A0A;
  --black-2: #252525;

  --deep-blue: #0F172B;

  --pink: #F9709A;
  --purple: #AD46FF;

  --dark-blue: #45556C;

  --border-light-gray: #E2E8F0;

  --bg-light-gray: #FCF9F8;

  --what-you-get-bg: #FFF8FF;
  --upper-footer-bg: #F8FAFF;
  --footer-gray: #90A1B9;
}